@import "variables.scss";

.card-item {
  padding: 0.5rem;
  padding-bottom: 1rem;

  &-card {
    border: 0;
    border-radius: 0;
    background-color: white;
    box-shadow: $gray 0px 5px 8px;

    &__panel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 5rem;
      // background-color: map_get($cards-colors, attr(data-color number));
    }
  }

  &__button {
    font-size: 1.3rem;
    margin: -1rem;
    padding: -1rem;
  }
}
