<section class="card-item">
  <div class="card card-item-card">
    <div class="card-item-card__panel">
      <mat-icon>lock</mat-icon>
      <a [href]="card.url" target="_blank" class="btn btn-sm btn-secondary rounded-0">
        <small>Lauch</small>
      </a>
    </div>
    <div class="card-body d-flex justify-content-between">
      <div class="d-flex flex-column">
        <strong>{{card.name}}</strong>
        <small>{{card.username}}</small>
      </div>
      <span>
        <button mat-icon-button  color="secondary" (click)="onOpenModal()">
          <mat-icon class="card-item__button">build</mat-icon>
        </button>
        <button mat-icon-button color="secondary" (click)="onDelete()">
            <mat-icon class="card-item__button">delete</mat-icon>
        </button>
      </span>
    </div>
  </div>
</section>
