@import 'variables.scss';

.header {
  position: absolute;
  height: 3.75rem;
  padding: 2rem;
  padding-top: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary;
  color: $white;
  font-weight: 600;
  width: 100%;

  & img {
    margin: 0 1rem;
  }

  &__button {
    background-color: $white;
    color: $primary;
    margin: 1rem !important;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__title {
    margin-bottom: 0 !important;
  }
}
