<header class="header" role="banner">
  <span class="header__logo">
    <a routerLink="">
      <img
        width="150"
        alt="Password Manager Logo"
        src="/assets/img/logo.svg"
      />
    </a>
    <h3 class="header__title d-none d-md-block">Welcome to {{ title }}</h3>
  </span>
  <button
    mat-stroked-button
    color="link"
    class="header__button"
  >
    Login
    <mat-icon>login</mat-icon>
  </button>
</header>
