<section class="h-100">
  <pm-sidebar class="h-100 d-flex flex-column">
    <pm-header></pm-header>
    <span class="mx-5 my-5 pt-5">
      <router-outlet class="mt-5"></router-outlet>
    </span>
  </pm-sidebar>
</section>
