@import "variables.scss";

.sidebar {
  background-color: $secondary;
  margin: 0 -2px -48px;
  min-width: 100px;
  color: $white;
  padding: 2rem;

  &__options {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-width: 8rem;
  }

  &__content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__toogle-btn {
    width: 1rem;
    margin-top: auto !important;
    flex-shrink: 0;
  }
}

mat-drawer-container {
  position: inherit;
  margin: -1%;
}

::ng-deep mat-drawer-content {
  height: 100%;
  width: 100%;
}
