<mat-drawer-container autosize class="h-100">
  <mat-drawer #drawer mode="side" class="sidebar">
    <ng-template [ngTemplateOutlet]="toggleButton"></ng-template>
    <nav class="sidebar__options">
      <a
        *ngFor="let option of options"
        mat-button
        color="link"
        [routerLink]="option.routerLink"
        routerLinkActive="is-active"
      >
        {{ option.label }}
      </a>
    </nav>
  </mat-drawer>

  <div class="sidebar__content">
    <ng-content></ng-content>
    <ng-template [ngTemplateOutlet]="toggleButton"></ng-template>
  </div>
</mat-drawer-container>

<ng-template #toggleButton>
  <button
    class="sidebar__toogle-btn"
    type="button"
    color="secondary"
    mat-stroked-button
    (click)="drawer.toggle()"
  >
    <mat-icon class="material-symbols-outlined">
      {{ drawer.opened ? "keyboard_backspace" : "east" }}
    </mat-icon>
  </button>
</ng-template>
