@import "variables.scss";

.home {
  display: flex;
  margin: 5.125rem auto 2rem;
  padding: 0 1rem;
  max-width: 60rem;
  flex-direction: column;
  align-items: center;

  & main {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  
  &__bar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0.3rem;
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
