<section class="home">
  <main role="main">
    <span class="home__bar">
      <div class="home__button">
        <button
        mat-fab
        color="primary"
        (click)="goToCards()">
        <mat-icon>dashboard</mat-icon>
      </button>
      <strong>Explore Cards</strong>
    </div>
  </span>

  </main>
</section>
