<section class="cards-list">
  <header class="cards-list__header">
    <h2>{{ title | uppercase }}</h2>
    <span class="d-flex align-items-center">
      <mat-icon>search</mat-icon>
      <input type="text" [(ngModel)]="searchText" (change)="onSearch()">
      <button mat-button (click)="onSearch()">Search</button>
    </span>

    <button mat-fab color="primary" (click)="onOpenModal()">
      <mat-icon>add</mat-icon>
    </button>
  </header>
  <div class="container">
    <div class="row">
      <pm-card-item
        class="col-sm-12 col-md-6 col-lg-4"
        *ngFor="let card of cards"
        [card]="card"
        (openModal)="onOpenModal($event)"
        (refresh)="fetchCards()"
      ></pm-card-item>
    </div>
  </div>
</section>
