// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import './variables.scss';

@import 'bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';


// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$theme: mat.define-light-theme(
  (
    color: (
      primary: $pwd-manager-primary,
      accent: $pwd-manager-accent,
      warn: $pwd-manager-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($theme);

/* You can add global styles to this file, and also import other style files */

.snackbar {
  color: $black;
  text-transform: capitalize;

  &--white {
    @extend .snackbar;
    background: $white;
  }

  &--error {
    @extend .snackbar;
    background: $danger;
    font-weight: bold;
    text-transform: uppercase;
  }

  &--info {
    @extend .snackbar;
    background: $white;
  }

  &--success {
    @extend .snackbar;
    background: $green;
    color: $white;
  }
}

html,
body,
app-root {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
