@use '@angular/material' as mat;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pwd-manager-primary: mat.define-palette(mat.$red-palette, 700, 800, 900);

$pwd-manager-accent: mat.define-palette(mat.$red-palette, 300, 400, 500);

$pwd-manager-success: mat.define-palette(mat.$green-palette, 500, A200, A100);

// The warn palette is optional (defaults to red).
$pwd-manager-warn: mat.define-palette(mat.$amber-palette, 700, 800);

$pwd-manager-danger: mat.define-palette(mat.$red-palette, 700, 800);

$primary: map_get($pwd-manager-primary, 800);
$secondary: #48535b;
$accent: map_get($pwd-manager-primary, A200);
$warn: map_get($pwd-manager-warn, 700);
$danger: map_get($pwd-manager-danger, 700);

$black: #121212;
$white: #f5f6fb;
$gray: #808080;

$green: map_get($pwd-manager-success, 500);

$cards-colors: (
  0: rgb(57, 52, 132),
  1: rgb(106, 177, 193),
  2: rgb(26, 90, 110),
  3: rgb(138, 136, 195),
);
