@import 'variables.scss';

.card-modal {
  border-radius: 0.3rem;

  &-header {
    width: 100%;
    padding-top: 1rem;
    display: flex;
    background-color: $primary;
    color: white;

    &__title {
      width: 100%;
      display: flex;
      justify-content: center;
    };

    &__close-icon {
      flex-shrink: 1;
    }
  }

  &-form {
    padding: 2rem 1rem;

    &__field {
      display: flex;
      color: $black;
      width: 100%;
    }

    &__buttons-bar {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;

      & button {
        margin: 1rem;
      }
    }
  }
}

.mat-input-element:disabled {
  color: $black;
}

::ng-deep .mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
  background-image: none !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 100%;
}

::ng-deep .mat-dialog-container {
  padding: 0;
}
