<section class="card-modal">
  <header class="card-modal-header">
    <h2 class="card-modal-header__title">
      {{ isNew ? "Create" : "Edit" }} Card
    </h2>
    <i
      class="card-modal-header__close-icon"
      mat-icon-button
      color="secondary"
      (click)="onClose()"
    >
      <mat-icon>close</mat-icon>
    </i>
  </header>

  <form [formGroup]="form" class="card-modal-form">
    <mat-form-field class="card-modal-form__field">
      <mat-label>URL</mat-label>
      <input matInput formControlName="url" type="url" />
    </mat-form-field>

    <mat-form-field class="card-modal-form__field">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" type="text" />
    </mat-form-field>

    <span class="d-flex w-100">
      <mat-form-field class="card-modal-form__field">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" type="text" />
      </mat-form-field>

      <mat-form-field class="card-modal-form__field">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password"[type]="hide ? 'password' : 'text'"  />
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
    </span>

    <div class="d-flex justify-content-center pt-3">
      <div class="w-50 d-flex flex-column align-items-center">
        <button [cdkCopyToClipboard]="card?.password || ''" mat-raised-button>
          <mat-icon>content_copy</mat-icon>
        </button>
        <p>Copy Password to clipboard</p> 
      </div>
    </div>

    <footer class="card-modal-form__buttons-bar">
      <button mat-raised-button color="secondary" (click)="onClose()">
        Cancel
      </button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!form.valid"
        (click)="onSubmit()"
      >
        Save
      </button>
    </footer>
  </form>
</section>
